@media(max-width: 1021px){
	.skillcircle2{
		display: none;
	}
}



@media(max-width: 700px){
	.menu{
	display: none;
	position: absolute;
	padding: 0;
    flex-flow: column;
    right: 0;
    background: #fbfbfb;
    left: 0;
    top: 88px;
    overflow: hidden;
	}
	.barger{
	display: block!important; 
	font-size: 28px;
    color: deeppink;
    font-weight: bold;
	}
	.btn{
		padding: 5px 10px;
		margin-left: 20px;
	}
	.mainboox1 > div{
		width: 100%;
		text-align: center;
	}
.mainbooxcalc > div{
	width: calc(45% - 10px); 
}

.bx1 p{
	margin: auto;
    text-align: center;
}
.mainboox2 {
    display: flex;
    justify-content: center;
}
.parent > div{
	width: 100%;
	margin-top: 0;
}
.imgbx img{
	margin-top: 39px;
}
.bxx2 {
	right: 198px;
}
.herobx{
	margin-top: 75px;
}
}

@media(max-width: 620px){
	.skillcircle {
    width: 100px;
    height: 100px;
    left: 50px;
}
.circle2 {

    top: 158%;
    left: 100px;
    /* box-shadow: 10px 10px 50px blue; */
}
.circle2 {
    width: 100px;
    height: 100px;

    left: 50px;
 }

 .skillcircle {

    bottom: 157px;
    left: 200px;
    /* box-shadow: 10px 10px 50px blue; */
}

 .skillcircle2 {
    width: 100px;
    height: 100px;
    left: 46px;
    /* box-shadow: 10px 10px 50px blue; */
}
.owl-prev span{
	display: none!imporant;
}
.owl-next span{
	display: none!imporant;
}
.mainbooxcalc > div {
    width: 100%;
}
.box1{
	width: 100%;
}
.progresbx{
	max-width: 175px;
}
.skills{
	margin-top: 100px;
}
}
@media(max-width: 620px){
	.bxx3{
     left: 260px;
	}
	.bxx1{
		left: 57px;
	}
	.herobx img{
		width: 100%;
	}
	.bxx2 {
    right: 33px;
}

@media(max-width: 500px){
  

  .kmainboox > div{
	width: 100%;
}

	
	.bximg img{
		width: 450px;
		height: 100px;
		/*display: flex;*/
		/*margin: auto;*/
		position: absolute;
		left: 5px;
		/*left: 150px;*/
		top: 15px;
	}
	.bx2 h1{
		text-align: center!important;
		
	}
	.bxximg img{
		width: 450px;
	   position: absolute;
	   left: 23px;
	   top: 13px;
	}
	.bx1 h1{
		padding-top: 150px;
	}
	.name{
		font-size: 60px;
		text-align: center;

		/*padding-top: 300px!important;*/
	}
	.herobx img{
		width: 360px;
		height: 400px;
	}
	.bxx3{
		left: 240px;
		top: -417px;
	}
	.bxx1{
		top: -250px;
	}
	.bxx2{
		right: 55px;
	}
	.bxx4{
		left: 240px;
		top: -90px;
	}
	@media(max-width: 400px){
		.bxx3{
			left: 174px;
		}
		.bxx4{
			left: 171px;
		}
		.bxx1{
			left: 25px;
		}
		.bxx2{
			right: 10px;
		}
		.bxximg img{
			position: absolute;
			left: 20px;
		}

		footer p{
	padding-top: 200px;
}
	}


}
.head2{
	text-align: center;
	padding-top: 100px;
}
.para2{
	text-align: center;
}
.mainbx2{
	justify-content: center;
}
.imgbx img{
	width: 100%;
	height: 500px;
}
.progresbx{
	padding-top: 0;
}
.bx1 p {
	padding-top: 20px;
	padding-bottom: 20px;
}
.mainbooxcalc > div{
	margin-top: 15px;
}
.footermainbox > div{
	width: 100%;
}
.footerbx2{
	padding-top: 0;
	padding-left: 0;
}

.mainboox1cont > div{
	width:100%;
}
.formbx{
	width: 100%;
	padding: 0;
	padding-top: 20px;
}                                                                                                                 
}

@media(max-width: 738px){
.mail{
	display: none;
}
/*.container {
    padding-left: 15px;
    padding-right: 15px;
}*/

.bx1{
	width: 100%;
}
.bx2{
	width: 100%;
}
.headbx2{
 font-size: 36px;
}

.creativeteambx > div {
    width: 100%;
    height: 400px;
    text-align: center;
       /* background: red; */
}
.mainbooox > div{
	width: calc(50% - 10px);
	margin-top: 15px;
}


.mainboox1{
	width: 100%;
}

.mainboox4 > div{
	width: 50%;
	margin-top: 15px;
}

}
@media(max-width: 619px){
	.menu{
		display: none;
		position: absolute;
		padding: 0;
    flex-flow: column;
    right: 0;
    background: white;
    left: 0;
    top: 88px;
    overflow: hidden;


	}
	.ri-menu-line {
    display: block!important;
    font-size: 28px;
    color: #fd4403;
    font-weight: bold;
}

	.servicesbx{
		text-align: center;
	}
	.creativeteambx{
		    padding-top: 19px;
	}
	.yearbox{
		padding-bottom: 20px;
		margin: auto;
	}
	.parabx2{
		margin: auto;

	}
	.header3imgbx{
		margin: auto;
	}
	.mainbox2 > div{
		width: 100%;
	}
	.mainbooox > div{
		width: 100%;

	}
	.mainboox4 > div{
		width: 100%;

	}
	.mainboox4{
		text-align: center;
	}
	.iconboox{
		justify-content: center;
	}
.menu li {
    text-align: center;
    padding: 10px;
    width: 100%;
    margin: 0;
    /* margin: 11px 20px; */
    border-bottom: 2px solid #fd4403;
}

}
